---
interface Props {
  title: string;
  body: string;
  href: string;
}

const {} = Astro.props;
---

<div
  class="w-72 h-80 pb-8 flex flex-col justify-end items-center gap-4 bg-black"
>
  <!-- <div class="w-full h-full bg-green-200">
    <img src="/public/assets/images/zyfer.jpg" alt="" class="w-full h-full" />
  </div> -->
  <h2 class="text-2xl">
    DJ Night | <span class="font-bold tracking-wide">Frankfurt</span>
  </h2>
  <button class="bg-blue-700 text-xs tracking-widest px-6 py-2"
    >GET TICKETS</button
  >
</div>
